@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{margin: 0;
padding: 0;
}
:root{
    --fonte-título:""Anton SC", sans-serif"
    --fonte-texto:font-family: "Roboto", sans-serif;
    --cor1: #00a6fbff;
--cor2: #0582caff;
--cor3: #006494ff;
--cor4: #003554ff;
--cor5: #051923ff;
}
body{
    background-color: var(--cor4);
    font-family: var(--fonte-título);
}
header, footer{
    background-color: var(--cor4);
    padding: 2em;
}